{% extends "base.html" %}
{% load staticfiles %}

{% block banner %}

{% endblock %}
{% block maincontent  %}
 <div class="jumbotron">
        <h1 class="display-3">Lorem Ipsum</h1>
        <p class="lead">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Start My Page</a></p>

      </div>

{% endblock  %}
